<!-- <h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p> -->
<h2>About</h2>
<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/Rustem98780394?ref_src=twsrc%5Etfw">Tweets by Rustem98780394</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-6">
        <div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag  "boy.jpeg", class: "rounded-circle img-fluid" %>
            </div>
            <div class="col-md-9">
              <span>
                <h5>Boy Guy</h5>
                Startup founder
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
